USE [master]
GO
/****** Object:  Database [MvcFramework]    Script Date: 02/27/2014 09:07:10 ******/
CREATE DATABASE [MvcFramework] ON  PRIMARY 
( NAME = N'MvcFramework', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\MvcFramework.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MvcFramework_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\MvcFramework_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MvcFramework].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MvcFramework]
GO
/****** Object:  Table [dbo].[COM_SYSTEM_SETUP]    Script Date: 02/27/2014 09:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COM_SYSTEM_SETUP](
	[SYS_ID] [int] IDENTITY(1,1) NOT NULL,
	[SYS_KEY] [nvarchar](50) NULL,
	[SYS_VALUE] [nvarchar](100) NULL,
	[SYS_DESC] [nvarchar](500) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SYS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[COM_SYSTEM_SETUP] ON
INSERT [dbo].[COM_SYSTEM_SETUP] ([SYS_ID], [SYS_KEY], [SYS_VALUE], [SYS_DESC], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (1, N'LANGUAGE_TYPE', N'KO', N'사이트기본언어', CAST(0x0000A2C900E1427C AS DateTime), 1000, NULL, NULL)
INSERT [dbo].[COM_SYSTEM_SETUP] ([SYS_ID], [SYS_KEY], [SYS_VALUE], [SYS_DESC], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (2, N'DBTYPE', N'MS', N'DataBase타입', CAST(0x0000A2C9010545B4 AS DateTime), 1000, NULL, NULL)
INSERT [dbo].[COM_SYSTEM_SETUP] ([SYS_ID], [SYS_KEY], [SYS_VALUE], [SYS_DESC], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (86, N'SYSTEM_TYPE', N'D', N'D:개발.R:리얼', NULL, 1000, NULL, NULL)
SET IDENTITY_INSERT [dbo].[COM_SYSTEM_SETUP] OFF
/****** Object:  Table [dbo].[COM_ROLE_USER]    Script Date: 02/27/2014 09:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COM_ROLE_USER](
	[ROLE_ID] [int] NULL,
	[EMP_REF_ID] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_ID] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[COM_ROLE_USER] ([ROLE_ID], [EMP_REF_ID], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (1, 1000, CAST(0x0000A2CA00BD2E8C AS DateTime), 1000, NULL, NULL)
/****** Object:  Table [dbo].[COM_ROLE_MENU]    Script Date: 02/27/2014 09:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COM_ROLE_MENU](
	[ROLE_ID] [int] NULL,
	[MENU_ID] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_ID] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[COM_ROLE_MENU] ([ROLE_ID], [MENU_ID], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (1, 18, CAST(0x0000A2DE011B32BA AS DateTime), 1000, NULL, NULL)
INSERT [dbo].[COM_ROLE_MENU] ([ROLE_ID], [MENU_ID], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (1, 2, CAST(0x0000A2DE011B32B9 AS DateTime), 1000, NULL, NULL)
INSERT [dbo].[COM_ROLE_MENU] ([ROLE_ID], [MENU_ID], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (1, 3, CAST(0x0000A2DE011B32BB AS DateTime), 1000, NULL, NULL)
/****** Object:  Table [dbo].[COM_ROLE_INFO]    Script Date: 02/27/2014 09:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COM_ROLE_INFO](
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_KO_NAME] [nvarchar](100) NULL,
	[ROLE_JP_NAME] [nvarchar](100) NULL,
	[ROLE_EN_NAME] [nvarchar](100) NULL,
	[ROLE_CH_NAME] [nvarchar](100) NULL,
	[ROLE_SELECT] [varchar](1) NULL,
	[ROLE_DELETE] [varchar](1) NULL,
	[ROLE_UPDATE] [varchar](1) NULL,
	[ROLE_INSERT] [varchar](1) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_ID] [int] NULL,
 CONSTRAINT [PK__COM_ROLE__5AC4D2220AD2A005] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[COM_ROLE_INFO] ON
INSERT [dbo].[COM_ROLE_INFO] ([ROLE_ID], [ROLE_KO_NAME], [ROLE_JP_NAME], [ROLE_EN_NAME], [ROLE_CH_NAME], [ROLE_SELECT], [ROLE_DELETE], [ROLE_UPDATE], [ROLE_INSERT], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (1, N'시스템관리자', N'시스템관리자', N'System Admin', N'시스템관리자', N'Y', N'Y', N'Y', N'Y', CAST(0x0000A2CA00B73408 AS DateTime), 1000, CAST(0x0000A2DE011B3298 AS DateTime), 1000)
INSERT [dbo].[COM_ROLE_INFO] ([ROLE_ID], [ROLE_KO_NAME], [ROLE_JP_NAME], [ROLE_EN_NAME], [ROLE_CH_NAME], [ROLE_SELECT], [ROLE_DELETE], [ROLE_UPDATE], [ROLE_INSERT], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (2, N'일반유저', N'일반유저', N'일반유저', N'일반유저', N'Y', N'N', N'Y', N'N', NULL, NULL, CAST(0x0000A2D801444A9F AS DateTime), 1000)
SET IDENTITY_INSERT [dbo].[COM_ROLE_INFO] OFF
/****** Object:  Table [dbo].[COM_PAGE_INFO]    Script Date: 02/27/2014 09:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COM_PAGE_INFO](
	[PAGE_ID] [int] IDENTITY(1,1) NOT NULL,
	[PAGE_NAME_KO] [nvarchar](100) NULL,
	[PAGE_URL] [varchar](150) NULL,
	[PAGE_IMG] [varchar](150) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PAGE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[COM_PAGE_INFO] ON
INSERT [dbo].[COM_PAGE_INFO] ([PAGE_ID], [PAGE_NAME_KO], [PAGE_URL], [PAGE_IMG], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (2, N'운영 관리', N'/Mng/Mng001', N'', CAST(0x0000A2CD00000000 AS DateTime), 1000, CAST(0x0000A2D70119F7AE AS DateTime), 1000)
INSERT [dbo].[COM_PAGE_INFO] ([PAGE_ID], [PAGE_NAME_KO], [PAGE_URL], [PAGE_IMG], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (3, N'시스템 설정', N'/Mng/Mng001', N'', NULL, NULL, CAST(0x0000A2D900ECEF66 AS DateTime), 1000)
INSERT [dbo].[COM_PAGE_INFO] ([PAGE_ID], [PAGE_NAME_KO], [PAGE_URL], [PAGE_IMG], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (4, N'언어 관리', N'/Mng/Mng002', N'', NULL, NULL, CAST(0x0000A2D70119EDE7 AS DateTime), 1000)
SET IDENTITY_INSERT [dbo].[COM_PAGE_INFO] OFF
/****** Object:  Table [dbo].[COM_MENU_INFO]    Script Date: 02/27/2014 09:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COM_MENU_INFO](
	[MENU_ID] [int] IDENTITY(1,1) NOT NULL,
	[UP_MENU_ID] [int] NULL,
	[PAGE_ID] [int] NULL,
	[MENU_TREE] [varchar](100) NULL,
	[MENU_NAME_KO] [nvarchar](100) NULL,
	[MENU_NAME_JP] [nvarchar](100) NULL,
	[MENU_NAME_EN] [nvarchar](100) NULL,
	[MENU_NAME_CH] [nvarchar](100) NULL,
	[SORT_ORDER] [int] NULL,
	[USE_YN] [varchar](1) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_ID] [int] NULL,
 CONSTRAINT [PK__COM_MENU__6C4729791273C1CD] PRIMARY KEY CLUSTERED 
(
	[MENU_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[COM_MENU_INFO] ON
INSERT [dbo].[COM_MENU_INFO] ([MENU_ID], [UP_MENU_ID], [PAGE_ID], [MENU_TREE], [MENU_NAME_KO], [MENU_NAME_JP], [MENU_NAME_EN], [MENU_NAME_CH], [SORT_ORDER], [USE_YN], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (2, 0, 2, N'0', N'운영 관리', N'', N'System Management', N'', 1, N'Y', CAST(0x0000A2C500000000 AS DateTime), 1000, CAST(0x0000A2D7011A17C9 AS DateTime), 1000)
INSERT [dbo].[COM_MENU_INFO] ([MENU_ID], [UP_MENU_ID], [PAGE_ID], [MENU_TREE], [MENU_NAME_KO], [MENU_NAME_JP], [MENU_NAME_EN], [MENU_NAME_CH], [SORT_ORDER], [USE_YN], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (3, 18, 3, N'0/2/18', N'시스템 설정', N'', N'System management', N'', 1, N'Y', NULL, NULL, CAST(0x0000A2D900EE0E77 AS DateTime), 1000)
INSERT [dbo].[COM_MENU_INFO] ([MENU_ID], [UP_MENU_ID], [PAGE_ID], [MENU_TREE], [MENU_NAME_KO], [MENU_NAME_JP], [MENU_NAME_EN], [MENU_NAME_CH], [SORT_ORDER], [USE_YN], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (4, 18, 4, N'0/2/18', N'언어 관리', N'', N'Language management', N'', 2, N'Y', NULL, NULL, CAST(0x0000A2D70119A246 AS DateTime), 1000)
SET IDENTITY_INSERT [dbo].[COM_MENU_INFO] OFF
/****** Object:  Table [dbo].[COM_LANGUAGE_INFO]    Script Date: 02/27/2014 09:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COM_LANGUAGE_INFO](
	[LANG_ID] [int] IDENTITY(1,1) NOT NULL,
	[LANG_TYPE] [varchar](1) NULL,
	[LANG_KO] [nvarchar](500) NULL,
	[LANG_EN] [nvarchar](500) NULL,
	[LANG_JP] [nvarchar](500) NULL,
	[LANG_CH] [nvarchar](500) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LANG_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[COM_LANGUAGE_INFO] ON
INSERT [dbo].[COM_LANGUAGE_INFO] ([LANG_ID], [LANG_TYPE], [LANG_KO], [LANG_EN], [LANG_JP], [LANG_CH], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (1, N'M', N'저장 되었습니다.', N'SAVE', N'저장되었습니다', N'저장되었습니다', CAST(0x0000A2CA0094237E AS DateTime), 1000, NULL, NULL)
INSERT [dbo].[COM_LANGUAGE_INFO] ([LANG_ID], [LANG_TYPE], [LANG_KO], [LANG_EN], [LANG_JP], [LANG_CH], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (2, N'M', N'아이디를 입력하세요', N'Insert ID', N'아이디를 입력하세요', N'아이디를 입력하세요', CAST(0x0000A2CA0094237E AS DateTime), 1000, NULL, NULL)
INSERT [dbo].[COM_LANGUAGE_INFO] ([LANG_ID], [LANG_TYPE], [LANG_KO], [LANG_EN], [LANG_JP], [LANG_CH], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (3, N'M', N'비밀번호를 입력하세요', N'Insert PWD', N'비밀번호를 입력하세요', N'비밀번호를 입력하세요', CAST(0x0000A2CA0094237E AS DateTime), 1000, NULL, NULL)
SET IDENTITY_INSERT [dbo].[COM_LANGUAGE_INFO] OFF
/****** Object:  Table [dbo].[COM_FILE_INFO]    Script Date: 02/27/2014 09:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COM_FILE_INFO](
	[FILE_IDX] [int] IDENTITY(1,1) NOT NULL,
	[FILE_ID] [varchar](14) NULL,
	[FILE_NAME] [varchar](150) NULL,
	[FILE_ORI_NAME] [nvarchar](200) NULL,
	[FILE_TYPE] [varchar](6) NULL,
	[FILE_FORDER] [varchar](6) NULL,
	[FILE_URL] [varchar](300) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_USER] [int] NULL,
 CONSTRAINT [PK_COM_FILE_INFO] PRIMARY KEY CLUSTERED 
(
	[FILE_IDX] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[COM_FILE_INFO] ON
INSERT [dbo].[COM_FILE_INFO] ([FILE_IDX], [FILE_ID], [FILE_NAME], [FILE_ORI_NAME], [FILE_TYPE], [FILE_FORDER], [FILE_URL], [CREATE_DATE], [CREATE_USER]) VALUES (14, N'20140210171699', N'3.sql', N'MVCF_TABLE.sql', N'100000', N'100000', N'/UploadFile/100000/3.sql', CAST(0x0000A2CE011FD412 AS DateTime), 1000)
INSERT [dbo].[COM_FILE_INFO] ([FILE_IDX], [FILE_ID], [FILE_NAME], [FILE_ORI_NAME], [FILE_TYPE], [FILE_FORDER], [FILE_URL], [CREATE_DATE], [CREATE_USER]) VALUES (15, N'20140210171699', N'4.sql', N'MVCF_TABLE.sql', N'100000', N'100000', N'/UploadFile/100000/4.sql', CAST(0x0000A2CE011FD53C AS DateTime), 1000)
SET IDENTITY_INSERT [dbo].[COM_FILE_INFO] OFF
/****** Object:  Table [dbo].[COM_EMP_KEY]    Script Date: 02/27/2014 09:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COM_EMP_KEY](
	[EMP_REF_ID] [int] NOT NULL,
	[MENU_ID] [int] NOT NULL,
	[KEY_CODE] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[COM_EMP_KEY] ([EMP_REF_ID], [MENU_ID], [KEY_CODE]) VALUES (1000, 3, 1)
INSERT [dbo].[COM_EMP_KEY] ([EMP_REF_ID], [MENU_ID], [KEY_CODE]) VALUES (1000, 4, 2)
INSERT [dbo].[COM_EMP_KEY] ([EMP_REF_ID], [MENU_ID], [KEY_CODE]) VALUES (1000, 22, 3)
/****** Object:  Table [dbo].[COM_EMP_INFO]    Script Date: 02/27/2014 09:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COM_EMP_INFO](
	[EMP_REF_ID] [int] NOT NULL,
	[LOGINID] [varchar](50) NULL,
	[LOGINPWD] [varchar](350) NULL,
	[EMP_NAME] [nvarchar](50) NULL,
	[EMP_EMAIL] [varchar](150) NULL,
	[DEPT_REF_ID] [int] NULL,
	[POSITION_CLASS_CODE] [varchar](6) NULL,
	[POSITION_GRP_CODE] [varchar](6) NULL,
	[POSITION_RANK_CODE] [varchar](6) NULL,
	[POSITION_DUTY_CODE] [varchar](6) NULL,
	[EMP_TELL] [varchar](50) NULL,
	[EMP_TYPE] [varchar](6) NULL,
	[EMP_LAN_TYPE] [varchar](3) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_ID] [int] NULL,
 CONSTRAINT [PK__COM_EMP___0837644B440B1D61] PRIMARY KEY CLUSTERED 
(
	[EMP_REF_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[COM_DEPT_INFO]    Script Date: 02/27/2014 09:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COM_DEPT_INFO](
	[DEPT_REF_ID] [int] NOT NULL,
	[UP_DEPT_ID] [int] NULL,
	[DEPT_LEVEL] [int] NULL,
	[DEPT_CODE] [varchar](50) NULL,
	[DEPT_NAME] [nvarchar](100) NULL,
	[USE_YN] [varchar](1) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DEPT_REF_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[COM_DEPT_INFO] ([DEPT_REF_ID], [UP_DEPT_ID], [DEPT_LEVEL], [DEPT_CODE], [DEPT_NAME], [USE_YN], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (1, 0, 0, N'1000', N'마이크로폴리스', N'Y', CAST(0x0000A2C900EE1665 AS DateTime), 1000, NULL, NULL)
INSERT [dbo].[COM_DEPT_INFO] ([DEPT_REF_ID], [UP_DEPT_ID], [DEPT_LEVEL], [DEPT_CODE], [DEPT_NAME], [USE_YN], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (2, 1, 1, N'1001', N'솔루션사업부', N'Y', CAST(0x0000A2C900EE1665 AS DateTime), 1000, NULL, NULL)
INSERT [dbo].[COM_DEPT_INFO] ([DEPT_REF_ID], [UP_DEPT_ID], [DEPT_LEVEL], [DEPT_CODE], [DEPT_NAME], [USE_YN], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (3, 1, 1, N'1002', N'영업팀', N'Y', CAST(0x0000A2C900EE1665 AS DateTime), 1000, NULL, NULL)
/****** Object:  Table [dbo].[COM_CODE_INFO]    Script Date: 02/27/2014 09:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COM_CODE_INFO](
	[CODE_ID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORY_ID] [varchar](6) NULL,
	[ETC_CODE] [varchar](6) NULL,
	[CODE_NAME_KR] [nvarchar](100) NULL,
	[CODE_NAME_EN] [nvarchar](100) NULL,
	[CODE_NAME_JP] [nvarchar](100) NULL,
	[CODE_NAME_CH] [nvarchar](100) NULL,
	[CODE_DESC] [nvarchar](500) NULL,
	[SORT_ORDER] [int] NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[COM_CODE_INFO] ON
INSERT [dbo].[COM_CODE_INFO] ([CODE_ID], [CATEGORY_ID], [ETC_CODE], [CODE_NAME_KR], [CODE_NAME_EN], [CODE_NAME_JP], [CODE_NAME_CH], [CODE_DESC], [SORT_ORDER], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (1, N'POS001', N'100000', N'직급1', N'직급1', N'직급1', N'직급1', N'직급1', 1, CAST(0x0000A2C900E4CC68 AS DateTime), 1000, NULL, NULL)
INSERT [dbo].[COM_CODE_INFO] ([CODE_ID], [CATEGORY_ID], [ETC_CODE], [CODE_NAME_KR], [CODE_NAME_EN], [CODE_NAME_JP], [CODE_NAME_CH], [CODE_DESC], [SORT_ORDER], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (2, N'POS001', N'100001', N'직급2', N'직급2', N'직급2', N'직급2', N'직급2', 2, CAST(0x0000A2C900E4CC68 AS DateTime), 1000, NULL, NULL)
INSERT [dbo].[COM_CODE_INFO] ([CODE_ID], [CATEGORY_ID], [ETC_CODE], [CODE_NAME_KR], [CODE_NAME_EN], [CODE_NAME_JP], [CODE_NAME_CH], [CODE_DESC], [SORT_ORDER], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (5, N'POS003', N'100000', N'직위1', N'직위1', N'직위1', N'직위1', N'직위1', 1, CAST(0x0000A2C900E4CC69 AS DateTime), 1000, NULL, NULL)
SET IDENTITY_INSERT [dbo].[COM_CODE_INFO] OFF
/****** Object:  Table [dbo].[COM_CATEGORY_INFO]    Script Date: 02/27/2014 09:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[COM_CATEGORY_INFO](
	[CATEGORY_ID] [varchar](6) NOT NULL,
	[CATEGORY_NAME] [nvarchar](100) NULL,
	[CATEGORY_DESC] [nvarchar](500) NULL,
	[CREATE_DATE] [datetime] NULL,
	[CREATE_ID] [int] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CATEGORY_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[COM_CATEGORY_INFO] ([CATEGORY_ID], [CATEGORY_NAME], [CATEGORY_DESC], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (N'EMP001', N'사용자타입', N'사용자타입', CAST(0x0000A2C900E2CF7D AS DateTime), 1000, CAST(0x0000A2DC00C526E9 AS DateTime), 1000)
INSERT [dbo].[COM_CATEGORY_INFO] ([CATEGORY_ID], [CATEGORY_NAME], [CATEGORY_DESC], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (N'FIL001', N'파일타입', N'업로드파일 타입', CAST(0x0000A2C900E2CF7D AS DateTime), 1000, NULL, NULL)
INSERT [dbo].[COM_CATEGORY_INFO] ([CATEGORY_ID], [CATEGORY_NAME], [CATEGORY_DESC], [CREATE_DATE], [CREATE_ID], [UPDATE_DATE], [UPDATE_ID]) VALUES (N'POS001', N'직급', N'직급들', CAST(0x0000A2C900E2CF7D AS DateTime), 1000, NULL, NULL)
